* {
    padding: 0;
    margin: 0;
}

.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff6f6;
    padding: 0 20% 5% 20%;
}

.HeaderLogo {
    font-size: 24px;
    color: rgb(0, 0, 0);
}

.HeaderNav {
    display: flex;
    list-style-type: none;
}


.HeaderNav a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(0, 0, 0);
    display: block;
    padding: 1em;
}

.mainsection1text {
    font-size: 36px;
    color: black;
    font-weight: 800;
    float: left;    
}

.section1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    padding: 0 15% 3% 15%;
}

.secondarysection1text {
    margin-top: 10px;
    margin-bottom: 16px;
    margin-right: 20px;
    color: rgb(3, 0, 0);
    font-size: 18px;
    float: left;
    text-align: left;
}

.image1 {
    border: 2px rgb(0, 0, 0);
    border-width: 3px;
    border-style: double;
    width: 800px;
    height: 350px;
    max-width: 100%;
    max-height: 100%;
}

.section2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    padding: 0 15% 3% 15%;
}

.secondarysection2text {
    margin-top: 10px;
    margin-bottom: 16px;
    margin-right: 20px;
    color: rgb(3, 0, 0);
    font-size: 18px;
    float: left;
    text-align: justify;
}

.mainsection2text {
    font-size: 36px;
    color: rgb(0, 0, 0);
    font-weight: 800;
    float: left;
}

.image2 {
    border: 2px rgb(0, 0, 0);
    border-width: 3px;
    border-style: double;
    width: 700px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
}

.four-photo-section {
    display: block;
    padding: 3% 20% 3% 20%;
    text-align: center;
    background-color: white;
}

.four-photo-title {
    color: #1F2937;
    font-size: 40px;
    font-weight: 900;
}

.four-photos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 25px;
}

.four-photos div img {
    height: 200px;
    width: 400px;
    max-width: 100%;
    max-height: 100%;   
    border: 5px solid #000000;
    border-style: double;
    border-radius: 10px;
    margin-bottom: 18px;
}

.four-photos div {
    margin-left: 40px;
    margin-right: 40px;
}


.four-photos div p {
    font-size: 18px;
    color: #232423;
}