* {
    padding: 0;
    margin: 0;
}

.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 0 20% 5% 20%;
}

.HeaderLogo {
    font-size: 24px;
    color: gray;
}

.HeaderNav {
    display: flex;
    list-style-type: none;
}


.HeaderNav a {
    text-decoration: none;
    font-size: 18px;
    color: gray;
    display: block;
    padding: 1em;
}

.mainsection1text {
    font-size: 36px;
    color: gray;
    font-weight: 800;
    float: left;
}

.section1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000000;
    padding: 0 15% 3% 15%;
}

.secondarysection1text {
    margin-top: 10px;
    margin-bottom: 16px;
    margin-right: 20px;
    color: white;
    font-size: 18px;
    float: left;
    text-align: left;
}

.image1 {
    width: 700px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
    padding: 1px;
    border: 2px rgb(255, 255, 255);

}